.form__button {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px;
  display: block;
  margin: 0;
  background-color: #2a2c2f;
  color: #fff;
  border: 3px #fff solid;
  border-radius: 4px;
  cursor: pointer;
}
